*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    font-family: "Poppins",sans-serif;
    font-size: 62.5%;
    
}
body{
    font-size: 1.6rem;
    scroll-behavior: smooth;
}
/* ====================common===================== */
img{
    object-fit: cover;
}
a{
    text-decoration: none;
    color: #000;
}
.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 68px;
    background: #2AC9BF; 
    border-radius: 6px;
    cursor: pointer;
}
.desc{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px;
    color: #9DA6A5;
}
.title{
font-size: 6.2rem;
font-weight: 700;
line-height: 72px;
}
button{
    border-width: 0;
}
.images-test{
    width: 400px;
    height: 400px;
}
/* ====================header===================== */
header{
    max-width: 100vw;
    padding-top: 50px;
    /* top: -20px; */
    top: -50px;
    position: sticky;
    backdrop-filter: blur(5px);
    background: rgba(206, 207, 205, 0.7);
    z-index: 1;
}

.content{
    min-width:1170px;
    margin: 0 calc((100% - 1170px) / 2);
}
.nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.nav-link .menu{
    display: flex;
}
.nav-link .menu-item a{
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;

}
.nav-link .menu-item{
    display: inline-block;
    position: relative;
    padding: 12px 12px;
}
.nav-link .menu .menu-item .item-home{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}
.nav-link .login{
    display: flex;
}
.nav-link .login a.btn{
    width: 108px;
    height: 48px;
    color: #494949;
    border: 1px solid #2AC9BF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;

}
.nav-link .login a.btn:first-child{
    background: none;
    border: none;
}
.nav-link .login .btn:first-child{
    margin: 0 24px;
}
.nav-link .login .btn:hover{
    background: #fff;
    color: #2AC9BF;
}
.nav-link .login a.btn:first-child:hover{
    background-color: #fff;
    color: #2AC9BF;
    border: 1px solid #2AC9BF;

}
/* ====================mega-menu===================== */
.sub-menu{
    display: none;
    position: absolute;
    left: 0;
    top: 45px;
    background: #ccc;
    transition: all .5s ease;
    
}

.sub-menu .menu-item{
    background: #ccc;
}
.sub-menu .menu-link
{
    display: block;
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    padding: 12px 6px;
    border-bottom: 1px solid #fff;
}

.menu .menu-item:hover .sub-menu{
    display: block;
}
/* ====================hero===================== */
.hero{
    margin-top: 50px;
}
.hero .content{
    display: flex;
    padding-bottom: 79px;
}
.hero .info{
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero .thumb{
    position: relative;
    width: 50%;
    margin-left: auto;
}
.hero .thumb .images{
    width: 100%;
    height: 631px;
}
.hero .title{
    margin-bottom: 46px;
}
.hero .info span.desc{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 18px;
}
.hero .info .row-box{
    display: flex;
    gap: 50px;
    margin-top: 52px;
    
}
.hero .info .btn.first{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 27px;
}
.hero .info .btn.first:hover{
    background-color: #fff;
    color: #2AC9BF;
    border: 1px solid #2AC9BF;
}
.hero .info  .btn.second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #fff;
    box-shadow:  0 2px 5px 0 #9DA6A5;
    transform: translateY(3px);
}
.hero .btn.second .box{
    color: #2AC9BF;;
}
.hero .btn.second:hover{
    background-color: #2AC9BF;
}
.hero .btn.second:hover .box{ 
    color: #fff;
}
.hero .thumb .box-supper{
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 0 0 2px 0 #b8b5b5;
}
.hero .thumb .box-supper:nth-child(2){
    position: absolute;
    top: 149px;
    left: -40px;
    width:157px ;
    height: 75px;
    background-image: url("/static/image/item-1.svg");
    background-repeat: no-repeat;
    background-position:center;
  
}
.hero .thumb .box-supper:nth-child(3){
    position: absolute;
    bottom: 116px;
    left: -65px;
    width:124px ;
    height: 132px;
    background: #ffffff;
    background-image: url("/static/image/item-2.svg");
    background-repeat: no-repeat;
    background-position:center;
}
.hero .thumb .box-supper:nth-child(4){
    position: absolute;
    right: 45px;
    bottom: 101px;
    width:207px ;
    height: 90px;
}
.hero .thumb .box-supper:nth-child(4)::before{
    position: absolute;
    left: 20px;
    top: 10px;
    display: inline-block;
    content: "Our Active Students";
    font-size: 1rem;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
}
.hero .thumb .box-supper .charater{
    font-size: 1rem;
    font-weight: 500;
    line-height: 15px;
    color: #fff;
}
.hero .thumb .box-supper .avatar-images:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2AC9BF;
    border-radius: 50%;

}
.hero .thumb .row-avatar{
    display: flex;
    margin: 30px 0 30px 15px ;
}
.hero .thumb .row-avatar .avatar-images{
    width: 33px;
    height: 33px;
    margin-left: -10px;
    
}
.hero .thumb .row-avatar .avatar-images:first-child{
    margin-left: 0;
}
.hero .thumb .row-avatar .avatar-images img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* ====================featured===================== */
.featured{
    margin-top: 130px;
}
.featured .content{
    display: flex;
    flex-direction: column;
}
.featured .info{
    width: 577px;
    margin-bottom: 80px;
}
.feature-lorem{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 5px;
    margin-bottom: 18px;
}
.featured .title{
font-size: 4.2rem;
font-weight: 700;
line-height: 1.5;
margin-bottom: 18px;
}
.featured .row{
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.featured .row .box{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 102px;
    height: 106px;background: #2AC9BF;
    border-radius: 18px;
    margin-bottom: 26px;

}
.featured .row .column-item{
    width: calc((100% - 400px) / 3);
}
.featured .row .column-item:first-child  .box{
    background: #FFC147;
}
.featured  .row .column-item:nth-child(2)  .box
{
    background: #FF947A;
}
.featured .row .column-item:last-child  .box{
    background: #BF83FF;
}
.featured .column-item>strong{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}
.featured .column-item .desc{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}
/* ====================course===================== */
.course{
    margin-top: 130px;
}

.course .info{
    display: flex;
    position: relative;
    margin-bottom: 79px;
}
.course .info .row{
    width: 50%;
}
.course .title{
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 19px;
}
.course .info a{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    text-decoration: underline;
    color: #2AC9BF;
}
.course .body .list{
    display: flex;
    gap: 47px;
    overflow: hidden;
    padding-bottom: 200px;
    padding-top: 50px;
}
.course .body .list-item{
    position: relative;
    width: calc((100% - (2 * 47px) ) / 3);
    flex-shrink: 0;
    cursor: pointer;
    transform: translateX(calc(-100% - 47px));
   

}
.course .body .list-item .images{
    width: 100%;
    height: 393px;
    border-radius: 8px;
    opacity: 0.85;
    position: relative;
    transition: all .3s ease;
}
.course .body .list-item:hover .images{
    width: 100%;
    top: -50px;
    opacity: 1;
    transition-delay: 0.2s;
    z-index: 2;
    /* position:absolute ; */
    /* top: -20px */
}
.course .body .price{
    width: 325px;
    background: #ffffff;
    position: absolute;
    margin: 0 auto;
    top: 322px;
    left: 0;
    right: 0;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
.course .body .info-child{
    margin: 18px 25px;
}
.course .body .desc{
font-size: 1.4rem;
font-weight: 400;
line-height: 21px;
white-space: nowrap;
margin-bottom: 6px;
}
.course .body .desc strong{
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
}
.course .body .row{
    display: flex;
    gap: 10px;
}
.course .body .desc.class{
    position: relative;
}

.course .body .desc.class::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #2AC9BF;
    border-radius: 50%;
    margin-right:7px ;
}
.course .body{
    position: relative;
    padding-bottom: 65px;
}
.course .body .dots{
    position: absolute;
    display: flex;
    gap: 6px;
    justify-content: center;
    bottom: 100px;
    left: 50%;

}
.course .body .dots .dot{
    width: 6px;
    height: 6px;
    background-color: orange;
    border-radius: 50%;
}
.course .body .dots .active{
    background: #2AC9BF;
}
/* ====================rate===================== */
.rate{
    margin-top: 200px;
}
.rate .content{
    display: flex;
    justify-content: center;
}
.rate .content .row{
    display: flex;
    gap: 200px;
}
.rate .content .row .title{
    margin-bottom: 11px;
}
/* ====================customer===================== */
.customer{
    margin-top: 264px;
}
.customer .content{
    display: flex;
}
.customer .info{
    width: 41%;
}
.customer .info p.desc{
font-size: 3.2rem;
font-weight: 400;
line-height: 48px;
margin: 27px 0;
}
.customer .info span.desc{
    margin-top: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 13px;

}
.customer .info span strong{
    position: relative;
    color: #000;
}
.customer .info span strong::before{
    position: absolute;
    left: -10px;
    bottom: 6px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #000000;
}
.customer .info .row-box{
    margin-top: 52px;
    display: flex;
    gap: 30px;
}
.customer .info .btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.customer .info .btn {
    color: #fff;
}
.customer .info .btn:hover{
    background-color: #ffffff;
    color: #2AC9BF;
}
.customer    .body{
    width: calc(100% - 41%);
    position: relative;
    display: flex;
}
.customer .body .icon-ui{
    border-radius: 50%;
    background: #2AC9BF;
}
.customer .body .icon-ui:first-child{
    position: absolute;
    top: 0;
    left: 144px;
    width: 92px;
    height: 92px;
}
.customer .body .icon-ui:nth-child(2)
{
    position: absolute;
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
}
.customer .body .icon-ui:nth-child(3)
{
    position: absolute;
    top: 200px;
    width: 78px;
    height: 78px;
}
.customer .body .icon-ui:nth-child(4)
{
    position: absolute;
    top: 100px;
    left: 232px;
    width: 235px;
    height: 235px;
}
.customer .body .icon-ui:nth-child(5)
{
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 78px;
    height: 78px;
}
.customer .body .icon-ui:nth-child(6)
{
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 78px;
    height: 78px;
}
.customer .body .icon-ui:hover{
    cursor: pointer;
    transform: scale(1.2);
}
/* ====================start===================== */
.start{
    margin-top: 130px ;
}
.start .content{
    height: 272px;
    display: flex;
    align-items: center;
    background: #DEF6F5;
}
.start .content .info{
    margin-left: 135px;
}
.start .content .btn{
    margin-left: auto;
    margin-right: 289px;
    color: #fff;
}
.start .content .btn:hover{
    background: #fff;
    color: #2ac9bf;
}

.start .title{
    margin-bottom: 18px;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.5;
}
/* ====================footer===================== */
footer{
    margin-top: 30px;
}
footer .content{
    padding-top: 100px;
}
footer .content .row{
    margin-left: 100px;
    width: calc(100% - (167px * 2));
    display: flex;
    gap: 100px;

}
footer .content .row .column{
    width: calc(100% - (100 * 4) / 5);
    
}
footer .content .row .column .sub-title{
    margin-bottom: 25px;
}
footer .content .row .column .desc{
font-size: 1.6rem;
font-weight: 400;
line-height: 1.5;
margin-bottom: 19px ;
white-space: nowrap;
text-align: center;
}
footer .content .row .column a{
    display: inline-block;
}
footer .content .row .column:last-child a{
    display: block;
}
footer .content .row .column:last-child .desc{
    display: flex;
    align-items: center;
}
footer .content .row .column:last-child .desc:last-child img{
    margin-right: 10px;
    position: relative;
    left: 5px;
}
footer .content .desc.first{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}